<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
    <!-- Add EJS code here -->

  <% include partials/_header %>

  <% if (username){ %>
    <ul>
      <% for(var url in urls) { %>
        <table class="table table-hover" style="
            width: 73%;
            margin: 0 auto;">
          <tbody><tr><td> <b>TinyURLS: </b> <a href= "/u/<%= url %>" > <%= url %></a> | <%= urls[url].longURL %></td>
              <td><a href=  "/urls/<%= url %>"> Edit </a></td>
            <td><form method="POST" action="/urls/<%= url %>/delete">
              <button type="submit" >Delete</button>
            </form></td>
          </tr>
        </tbody></table>
      <% } %>
    </ul>
  <% } else { %>
    <p> Please login or register</p>
  <% } %>


</body>
</html>